body{
    background-color: aliceblue !important;
}
.container{
    background-color: white;
    border-radius: 10px;
}
.message{
    background-color: #eff3f4 ;
    border-radius: 15px;
    transition: 0.3s; 
    
}
.message:hover{
    transform: scale(1.1);
    margin: 10px 0px;
}
img{
    margin-right: 10px;
    height: 33px;
}
p{
    padding: 0px 10px;
}
h6{
    color: dodgerblue;
}
.repily{
    border: none !important;
    background-color: transparent;
    color: dodgerblue;
}
.repily2{
    border: none !important;
    padding: 10px 15px;
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    max-height: 45px;
    font-weight: bold;
}
input{
    width: 80%;
    height: 97px;
}
#comment{
    display: none;
}
input.upload{
    border-radius: 10px;
    background-color: transparent;
    border: 1px gray solid;
}
input.upload:focus{

    outline:gray ;
}
.send{
    max-height: 45px;
    border: 0px;
    padding: 7px 25px;
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}
.you{
    height: 50px;
}
